.savednews {
  padding-top: 40px;
}
.savednews__titles {
  -webkit-font-smoothing: antialiased;
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto Slab", Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 56px;
  padding-left: 104px;
  width: 712px;
}
.savednews__text {
  margin: 0;
  color: rgba(26, 27, 34, 0.5);
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 530px;
}
.savednews__subtext {
  margin: 0;
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto Slab", Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  width: 530px;
  padding-top: 28px;
}
@media (max-width: 767px) {
  .savednews {
    padding-top: 8px;
  }
  .savednews__subtext {
    font-size: 30px;
    line-height: 34px;
    width: 100%;
    padding-top: 16px;
  }
  .savednews__titles {
    width: 288px;
    padding: 0 16px 32px;
  }
  .savednews__text {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .savednews {
    padding-top: 24px;
  }
  .savednews__text {
    font-size: 14px;
  }
  .savednews__subtext {
    width: 336px;
    font-size: 30px;
    padding-top: 16px;
    line-height: 1.2;
  }
  .savednews__titles {
    padding: 0 0 32px 40px;
    width: 712px;
  }
}
