.footer__infos {
  align-items: center;
  padding: 0 104px;
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.footer__texts {
  margin: 0;
  color: var(--simulator-gray-text, #b6bcbf);
  font-family: "Roboto", Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer__sublinks {
  display: flex;
  gap: 40px;
}
.footer__subtext {
  color: var(--main-primary, #1a1b22);
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.footer__icons {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}
.footer__icon {
  width: 24px;
  height: 24px;
}
.footer__subtexts {
  display: flex;
  gap: 40px;
}

.footer__links {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer__infos {
    flex-direction: column-reverse;
    align-self: unset;
    justify-content: flex-start;
    padding: 0;
    height: auto;
    gap: 38px;
  }
  .footer__subtexts {
    width: 200px;
    height: 74px;

    flex-direction: column;
    place-items: flex-start;
    justify-content: space-between;
    gap: unset;
  }
  .footer__sublinks {
    gap: 16px;
    height: auto;
    align-items: baseline;
  }
  .footer__texts {
    padding-bottom: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__infos {
    padding: 0 40px;
  }
}
