.navigationbar__savednews-link {
  text-decoration: none;
}

.navigation__home-link {
  text-decoration: none;
}

.navigationbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px 0;
  border-bottom: 1px solid #fff;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
}
.navigationbar-border-black {
  border-bottom: 1px solid #000000;
}

.navigationbar__title-link {
  text-decoration: none;
}
.navigationbar__title {
  color: var(--main-white, #fff);
  font-family: "Roboto", sans-serif Slab;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.navigationbar__infos {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}
.navigationbar__homepage {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--main-white, #fff);

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: border 0.5s ease-in;
}
.navigationbar__homepage:hover {
  border-bottom: 3px solid #fff;
}

.navigationbar__login {
  height: 48px;
  place-items: center;

  width: 176px;
  border-radius: 100px;
  border: 1px solid var(--main-white, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white, #fff);

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.navigationbar__saved-article {
  color: var(--simulator-gray-text, #b6bcbf);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  display: flex;
  height: 80px;
  align-items: center;
  transition: border 0.5s ease-in;
}
.navigationbar__saved-article:hover {
  border-bottom: 3px solid #fff;
}
.navigationbar__username {
  color: var(--main-white, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  width: 56px;
}
.navigationbar__logout-btn {
  background: url("../../images/logout.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
}

.navigationbar__logout-btn-dark {
  background: url("../../images/logout-datk.svg") center no-repeat;
}

.navigationbar__profile {
  border-radius: 100px;
  border: 1px solid var(--main-white, #fff);
  display: flex;
  width: 112px;
  height: 48px;

  justify-content: center;
  align-items: center;
}
.navigationbar__profile-dark {
  border: 1px solid var(--main-white, #000000);
}
.navigationbar__text-black {
  color: black;
}
.navigationbar__text-white {
  color: white;
}

/*MOBILE*/
/*

navigationbar-mobile{
      flex-direction: column;
    background: #1A1B22;
    height: 230px;
    gap: 0;
    justify-content: flex-start;
    padding: 0;
}

navigationbar-mobile__title{
      width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
   }

   .navigationbar-mobile__infos{
        flex-direction: column;
    width: 288px;
   
    gap: 22px;
   }

*/
.navigationbar-mobile {
  flex-direction: column;
  background: #1a1b22;
  height: 230px;
  gap: 0;
  justify-content: flex-start;
  padding: 0;
  border-bottom: 0;
}
.navigationbar-mobile__title {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.navigationbar-mobile__infos {
  display: flex;
  flex-direction: column;
  width: 288px;
  align-items: flex-start;
  gap: 22px;
}
.navigationbar__homepage-mobile {
  height: 56px;
}

@media (max-width: 767px) {
  .navigationbar {
    padding: 16px;
    height: 56px;
  }
  .navigationbar__title {
    width: 117px;
    font-size: 16px;
  }
  .navigationbar__infos {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navigationbar {
    padding: 0 40px 0;
  }
}
@media (min-width: 1024px) {
  /* Your laptop/desktop-specific CSS rules go here */
}
