.newscards-saved {
  /*temporary */
  padding-top: 100px;
}
.newscards__img {
  width: 400px;
  height: 272px;
}
.newscards__titles {
  -webkit-font-smoothing: antialiased;
  color: var(--main-primary, #1a1b22);
  font-family: " Roboto Slab", Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 56px;
  padding-left: 104px;
}
.newscards__text {
  margin: 0;
  color: rgba(26, 27, 34, 0.5);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.newscards__subtext {
  margin: 0;
  color: var(--main-primary, #1a1b22);
  font-family: " Roboto Slab", Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
}
.newscards__keywords {
  margin: 0;
  color: #1a1b22;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.newscards__keyword {
  color: #1a1b22;
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.newscards__article {
  position: relative;
  width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.newscards__bookmarks {
  right: 24px;
  top: 24px;
  position: absolute;
  display: flex;
  gap: 5px;
}
.newscards__bookmark-unsaved {
  background: url("../../images/bookmark.svg") no-repeat center;
}
.newscards__bookmark-saved {
  background: url("../../images/setSavedIcon.svg") no-repeat center;
}
.newscards__bookmark {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.newscards__bookmark:hover {
  background: url("../../images/bookmark-hover.svg") no-repeat center;
  background-color: #ffffff;
}

.newscards__bookmarks-message {
  width: 182px;
  height: 40px;
  background: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #000;
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: visibility 0.5s linear;
}

.newscards__bookmark:hover + .newscards__bookmarks-message {
  visibility: visible;
}

.newscards__searchtexts {
  width: 712px;
  margin: 0;
  padding-top: 80px;
  padding-left: 104px;
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto Slab", Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.newscards__newslists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.newscards__showmore {
  margin: 0;
  color: var(--main-primary, #1a1b22);
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 240px;
  height: 56px;
  border-radius: 80px;
  background: #e8e8e8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}

.newscards__searchlist {
  background: #f5f6f7;
}
.newscards__articles {
  justify-content: center;
  display: flex;
  column-gap: 16px;
  row-gap: 8px;
  flex-wrap: wrap;
  padding-top: 62px;
  padding-bottom: 62px;
  align-items: center;
  background-color: #f5f6f7;
}
.newscards__dates {
  margin: 0;
  color: var(--simulator-gray-text, #b6bcbf);
  font-family: "Source Sans Pro", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.newscards__titles {
  color: var(--main-primary, #1a1b22);
  font-family: " Roboto Slab", Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.newscards__subheading {
  margin: 0;
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto Slab", Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newscards__footer {
  color: var(--simulator-gray-text, #b6bcbf);
  font-family: " Roboto Slab", Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
}
.newscards__paragraph {
  max-height: 110px;
  margin: 0;
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto", Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newscards__details {
  display: flex;
  /* padding: 17px 24px 24px 24px; */
  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}
.newscards__type-and-delete {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 24px 24px 0;
  box-sizing: border-box;
}
.newscards__delete-btn {
  background: url("../../images/delete.svg") no-repeat center;
  border: none;
  width: 40px;
  height: 40px;
  transition: 0.6s background linear;
  cursor: pointer;
  padding: 0;
}
.newscards__delete-btn:hover {
  background: url("../../images/delete-hover.svg") no-repeat center;
}
.newscards__delete {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
}
.newscards__typeof {
  background: hsla(0, 0%, 100%, 1);
  padding: 2px;
  box-sizing: border-box;
  min-width: 87px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0;
}

.newscards__hidden {
  display: none;
}

.newscards__notfound {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}
.newscards__notfound-logo {
  max-width: 90px;
}
.newscards__notfound-text {
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto Slab", Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
}
.newscards__infos {
  display: flex;
  flex-direction: column;
  padding: 17px 24px 24px 24px;
  height: 100%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .newscards__article {
    width: 288px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newscards__searchtexts {
    padding: 32px 0 0 16px;
    font-size: 30px;
    width: 288px;

    height: 34px;
  }
  .newscards__type-and-delete {
    width: 256px;
    /* align-items: center; */
    padding: 16px 0 0 0;
  }
  .newscards__bookmarks {
    right: 16px;
    top: 16px;
  }
  .newscards__img {
    width: 100%;
    max-height: 191px;
  }
  .newscards__subheading {
    max-height: 48px;
    width: 256px;
  }
  .newscards__details {
    gap: 10px;
    /* padding: 16px; */
    max-width: 288px;
  }
  .newscards__infos {
    padding: 16px;
    gap: 8px;
  }
  .newscards__articles {
    gap: 10px;
    padding-bottom: 21px;
  }
  .newscards__showmore {
    width: 288px;
  }
  .newscards__newslists {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .newscards__searchtexts {
    width: 336px;
    padding: 40px 0 0 40px;

    font-size: 30px;
  }
  .newscards__article {
    height: 420px;
    flex-shrink: 0;
    width: 224px;
    overflow: hidden;
  }
  .newscards__articles {
    max-width: 768px;
    margin: auto;
    padding-top: 32px;
  }
  .newscards__subheading {
    padding-top: 12px;
    max-height: 72px;
  }
  .newscards__type-and-delete {
    width: calc(100% - 16px);
    padding: 8px 0 0;
  }
  .newscards__bookmarks {
    right: 8px;
    top: 8px;
  }
  .newscards__bookmarks-message {
    width: 100%;
  }

  .newscards__img {
    width: 224px;
    height: 150px;
  }
  .newscards__details {
    gap: 0;

    /* padding: 16px 15px; */
  }
  .newscards__infos {
    padding: 16px 15px;
  }
  .newscards__subheading {
    padding-top: 12px;
  }
  .newscards__paragraph {
    height: 88px;
    padding-top: 10px;
    width: 192px;
  }
  .newscards__footer {
    padding-top: 10px;
  }
}
@media (min-width: 1024px) {
  /* Your laptop/desktop-specific CSS rules go here */
}
